{
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 140,
    "arrowParens": "always",
    "semi": true,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "singleQuote": false,
    "plugins": [],
    "overrides": [
        {
            "files": ["*.{ts,tsx,js,jsx,css}"],
            "options": {
                "arrowParens": "always",
                "singleQuote": true,
                "tabWidth": 2
            }
        }
    ]
}
